In [3]:
# from cenpy import products
import matplotlib.pyplot as plt
import cenpy
import pandas as pd 
import os
import numpy as np
pd.set_option('display.max_columns', None)
import geopandas as gpd

c:\Users\Ash\anaconda3\envs\hospitalization\lib\site-packages\libpysal\cg\alpha_shapes.py:39: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  def nb_dist(x, y):
c:\Users\Ash\anaconda3\envs\hospitalization\lib\site-packages\libpysal\cg\alpha_shapes.py:165: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  def get_faces(triangle):
c:\Users\Ash\anaconda3\envs\hospitalization\lib\site-packages\libpysal\cg\alpha_shapes.py:199: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  def build_faces(faces, triangles_is, num_triangles, num_faces_single):
c:\Users\Ash\anaconda3\envs\hospitalization\lib\site-packages\libpysal\cg\alpha_shapes.py:261: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  def nb_mask_faces(mask, faces):

In [4]:
zip_2010 = "D:/GitHub/merraData/tx_texas_zip_codes_geo.min.json"
tx_zip = gpd.read_file(zip_2010)
tx_zip = tx_zip.rename(columns={
    'ZCTA5CE10': 'PAT_ZIP'
})

### Age, sex

DEC
- P008002 - P008040 (Male from Total male to 85 years and over)
- P008041 - P008079 (Female from Total female to 85 years and over)
Need to sum columns to reflect the grouping done by ACS

ACS
- B01001_002E - B01001_025E (Male from Total male to 85 years and over)
- B01001_026E - B01001_049E (Female from Total female to 85 years and over)

### Race

DEC
- P006001 - P006008 (Total populations by race (white, black, native, asian, pacific, other, two or more))

ACS 
- B02001_001E - B02001_008E (Total populations by race (white, black, native, asian, pacific, other, two or more))

### Income/Poverty

DEC
- P152A - P152H (Median Household Income, by race - white, black, native, asian, pacific, other, two or more, not hispanic, hispanic)
- P159A002 - P159H002 (Poverty status, by race )

ACS 
- B19013A_001E - B19013H_001E (median house hold income, by race)
- B17020A_002E - B17020H_002E (poverty status, by race)

### Education

DEC
- P037001 - P037005 (Sex by educational attainment for population 25 years and over)
- B15002_001E - B15035_001E (Sex by educational attainment for population 25 years and over)

---

- A    White alone
- B    Black or African American Alone
- C    American Indian and Alaska Native Alone
- D    Asian Alone
- E    Native Hawaiian and Other Pacific Islander Alone
- F    Some Other Race Alone
- G    Two or More Races
- H    White Alone, Not Hispanic or Latino
- I    Hispanic or Latino

In [10]:
survey = 'DECENNIALSF32000'
# survey = 'ACSDT5Y2011'
dec_conn = cenpy.remote.APIConnection(survey)
table_name = ''
if 'DEC' in survey:
    table_name = 'Census 2000 SF3 Table Number'
elif 'ACS' in survey:
    table_name = 'ACS Table Number'
    # survey_vars = conn.variables[conn.variables['group'].isin(identical[table_name])

# survey_vars = conn.variables[conn.variables['group'].isin(final_variables['Census 2000 SF3 Table Number'].values)]

In [186]:
# survey = 'DECENNIALSF32000'
survey = 'ACSDT5Y2011'
acs_conn = cenpy.remote.APIConnection(survey)
table_name = ''
if 'DEC' in survey:
    table_name = 'Census 2000 SF3 Table Number'
elif 'ACS' in survey:
    table_name = 'ACS Table Number'
    # survey_vars = conn.variables[conn.variables['group'].isin(identical[table_name])
acs_vars = sorted([i for i in acs_conn.variables.index if i.startswith('B01001') ])#and (i.endswith('002E') or i.endswith('001E'))])
# survey_vars = conn.variables[conn.variables['group'].isin(final_variables['Census 2000 SF3 Table Number'].values)]
# acs_vars = acs_conn.variables.loc[acs_conn.variables.index.str.startswith('B02001')].sort_index().index
# acs_vars = acs_vars[:-1]
acs_vars
# data = acs_conn.query(
#     # ['B01003_001E', 'B01001_001E', 'B01001_002E', 'B01001_026E'],
#     # ['P001001','P053001','H011011','P037009','P037010','P037011','P065001'],
#     # dec_vars,
#     acs_vars,
#             geo_unit="zip code tabulation area"
# )

# df = pd.DataFrame(data)

# if 'state' in df.columns:
#     df = df[df['state'] == '48']
# df.sort_values('zip code tabulation area')

['B01001A_001E',
 'B01001A_002E',
 'B01001A_003E',
 'B01001A_004E',
 'B01001A_005E',
 'B01001A_006E',
 'B01001A_007E',
 'B01001A_008E',
 'B01001A_009E',
 'B01001A_010E',
 'B01001A_011E',
 'B01001A_012E',
 'B01001A_013E',
 'B01001A_014E',
 'B01001A_015E',
 'B01001A_016E',
 'B01001A_017E',
 'B01001A_018E',
 'B01001A_019E',
 'B01001A_020E',
 'B01001A_021E',
 'B01001A_022E',
 'B01001A_023E',
 'B01001A_024E',
 'B01001A_025E',
 'B01001A_026E',
 'B01001A_027E',
 'B01001A_028E',
 'B01001A_029E',
 'B01001A_030E',
 'B01001A_031E',
 'B01001B_001E',
 'B01001B_002E',
 'B01001B_003E',
 'B01001B_004E',
 'B01001B_005E',
 'B01001B_006E',
 'B01001B_007E',
 'B01001B_008E',
 'B01001B_009E',
 'B01001B_010E',
 'B01001B_011E',
 'B01001B_012E',
 'B01001B_013E',
 'B01001B_014E',
 'B01001B_015E',
 'B01001B_016E',
 'B01001B_017E',
 'B01001B_018E',
 'B01001B_019E',
 'B01001B_020E',
 'B01001B_021E',
 'B01001B_022E',
 'B01001B_023E',
 'B01001B_024E',
 'B01001B_025E',
 'B01001B_026E',
 'B01001B_027E',
 'B01001B_028E',
 'B01001B_029E',
 'B01001B_030E',
 'B01001B_031E',
 'B01001C_001E',
 'B01001C_002E',
 'B01001C_003E',
 'B01001C_004E',
 'B01001C_005E',
 'B01001C_006E',
 'B01001C_007E',
 'B01001C_008E',
 'B01001C_009E',
 'B01001C_010E',
 'B01001C_011E',
 'B01001C_012E',
 'B01001C_013E',
 'B01001C_014E',
 'B01001C_015E',
 'B01001C_016E',
 'B01001C_017E',
 'B01001C_018E',
 'B01001C_019E',
 'B01001C_020E',
 'B01001C_021E',
 'B01001C_022E',
 'B01001C_023E',
 'B01001C_024E',
 'B01001C_025E',
 'B01001C_026E',
 'B01001C_027E',
 'B01001C_028E',
 'B01001C_029E',
 'B01001C_030E',
 'B01001C_031E',
 'B01001D_001E',
 'B01001D_002E',
 'B01001D_003E',
 'B01001D_004E',
 'B01001D_005E',
 'B01001D_006E',
 'B01001D_007E',
 'B01001D_008E',
 'B01001D_009E',
 'B01001D_010E',
 'B01001D_011E',
 'B01001D_012E',
 'B01001D_013E',
 'B01001D_014E',
 'B01001D_015E',
 'B01001D_016E',
 'B01001D_017E',
 'B01001D_018E',
 'B01001D_019E',
 'B01001D_020E',
 'B01001D_021E',
 'B01001D_022E',
 'B01001D_023E',
 'B01001D_024E',
 'B01001D_025E',
 'B01001D_026E',
 'B01001D_027E',
 'B01001D_028E',
 'B01001D_029E',
 'B01001D_030E',
 'B01001D_031E',
 'B01001E_001E',
 'B01001E_002E',
 'B01001E_003E',
 'B01001E_004E',
 'B01001E_005E',
 'B01001E_006E',
 'B01001E_007E',
 'B01001E_008E',
 'B01001E_009E',
 'B01001E_010E',
 'B01001E_011E',
 'B01001E_012E',
 'B01001E_013E',
 'B01001E_014E',
 'B01001E_015E',
 'B01001E_016E',
 'B01001E_017E',
 'B01001E_018E',
 'B01001E_019E',
 'B01001E_020E',
 'B01001E_021E',
 'B01001E_022E',
 'B01001E_023E',
 'B01001E_024E',
 'B01001E_025E',
 'B01001E_026E',
 'B01001E_027E',
 'B01001E_028E',
 'B01001E_029E',
 'B01001E_030E',
 'B01001E_031E',
 'B01001F_001E',
 'B01001F_002E',
 'B01001F_003E',
 'B01001F_004E',
 'B01001F_005E',
 'B01001F_006E',
 'B01001F_007E',
 'B01001F_008E',
 'B01001F_009E',
 'B01001F_010E',
 'B01001F_011E',
 'B01001F_012E',
 'B01001F_013E',
 'B01001F_014E',
 'B01001F_015E',
 'B01001F_016E',
 'B01001F_017E',
 'B01001F_018E',
 'B01001F_019E',
 'B01001F_020E',
 'B01001F_021E',
 'B01001F_022E',
 'B01001F_023E',
 'B01001F_024E',
 'B01001F_025E',
 'B01001F_026E',
 'B01001F_027E',
 'B01001F_028E',
 'B01001F_029E',
 'B01001F_030E',
 'B01001F_031E',
 'B01001G_001E',
 'B01001G_002E',
 'B01001G_003E',
 'B01001G_004E',
 'B01001G_005E',
 'B01001G_006E',
 'B01001G_007E',
 'B01001G_008E',
 'B01001G_009E',
 'B01001G_010E',
 'B01001G_011E',
 'B01001G_012E',
 'B01001G_013E',
 'B01001G_014E',
 'B01001G_015E',
 'B01001G_016E',
 'B01001G_017E',
 'B01001G_018E',
 'B01001G_019E',
 'B01001G_020E',
 'B01001G_021E',
 'B01001G_022E',
 'B01001G_023E',
 'B01001G_024E',
 'B01001G_025E',
 'B01001G_026E',
 'B01001G_027E',
 'B01001G_028E',
 'B01001G_029E',
 'B01001G_030E',
 'B01001G_031E',
 'B01001H_001E',
 'B01001H_002E',
 'B01001H_003E',
 'B01001H_004E',
 'B01001H_005E',
 'B01001H_006E',
 'B01001H_007E',
 'B01001H_008E',
 'B01001H_009E',
 'B01001H_010E',
 'B01001H_011E',
 'B01001H_012E',
 'B01001H_013E',
 'B01001H_014E',
 'B01001H_015E',
 'B01001H_016E',
 'B01001H_017E',
 'B01001H_018E',
 'B01001H_019E',
 'B01001H_020E',
 'B01001H_021E',
 'B01001H_022E',
 'B01001H_023E',
 'B01001H_024E',
 'B01001H_025E',
 'B01001H_026E',
 'B01001H_027E',
 'B01001H_028E',
 'B01001H_029E',
 'B01001H_030E',
 'B01001H_031E',
 'B01001I_001E',
 'B01001I_002E',
 'B01001I_003E',
 'B01001I_004E',
 'B01001I_005E',
 'B01001I_006E',
 'B01001I_007E',
 'B01001I_008E',
 'B01001I_009E',
 'B01001I_010E',
 'B01001I_011E',
 'B01001I_012E',
 'B01001I_013E',
 'B01001I_014E',
 'B01001I_015E',
 'B01001I_016E',
 'B01001I_017E',
 'B01001I_018E',
 'B01001I_019E',
 'B01001I_020E',
 'B01001I_021E',
 'B01001I_022E',
 'B01001I_023E',
 'B01001I_024E',
 'B01001I_025E',
 'B01001I_026E',
 'B01001I_027E',
 'B01001I_028E',
 'B01001I_029E',
 'B01001I_030E',
 'B01001I_031E',
 'B01001_001E',
 'B01001_002E',
 'B01001_003E',
 'B01001_004E',
 'B01001_005E',
 'B01001_006E',
 'B01001_007E',
 'B01001_008E',
 'B01001_009E',
 'B01001_010E',
 'B01001_011E',
 'B01001_012E',
 'B01001_013E',
 'B01001_014E',
 'B01001_015E',
 'B01001_016E',
 'B01001_017E',
 'B01001_018E',
 'B01001_019E',
 'B01001_020E',
 'B01001_021E',
 'B01001_022E',
 'B01001_023E',
 'B01001_024E',
 'B01001_025E',
 'B01001_026E',
 'B01001_027E',
 'B01001_028E',
 'B01001_029E',
 'B01001_030E',
 'B01001_031E',
 'B01001_032E',
 'B01001_033E',
 'B01001_034E',
 'B01001_035E',
 'B01001_036E',
 'B01001_037E',
 'B01001_038E',
 'B01001_039E',
 'B01001_040E',
 'B01001_041E',
 'B01001_042E',
 'B01001_043E',
 'B01001_044E',
 'B01001_045E',
 'B01001_046E',
 'B01001_047E',
 'B01001_048E',
 'B01001_049E']

In [5]:
def switch_last_and_second_to_last(lst):
    if len(lst) < 2:
        # Handle the case where the list has less than 2 elements
        return lst

    # Swap the last and second-to-last elements
    lst[-1], lst[-2] = lst[-2], lst[-1]

In [14]:
def switch_last_2(lst):
    if len(lst) < 2:
        # Handle the case where the list has less than 2 elements
        return lst

    # Swap the last and second-to-last elements
    # lst[-1], lst[-2] = lst[-2], lst[-1]
    lst[-4], lst[-3], lst[-2], lst[-1] = lst[-2], lst[-1], lst[-4], lst[-3]

In [12]:
switch_last_and_second_to_last(dec_vars)

In [97]:
base_var_name = 'P145A'
dec_vars = sorted([i for i in dec_conn.variables.index if i.startswith(base_var_name) ]) #and (i.endswith('002') or i.endswith('001'))])
# dec_vars = dec_vars
# dec_vars = dec_vars[1:18]
dec_vars = dec_vars
# switch_last_2(dec_vars)
dec_vars

['P145A001',
 'P145A002',
 'P145A003',
 'P145A004',
 'P145A005',
 'P145A006',
 'P145A007',
 'P145A008',
 'P145A009',
 'P145A010',
 'P145A011',
 'P145A012',
 'P145A013',
 'P145A014',
 'P145A015',
 'P145A016',
 'P145A017',
 'P145A018',
 'P145A019',
 'P145A020',
 'P145A021',
 'P145A022',
 'P145A023',
 'P145A024',
 'P145A025',
 'P145A026',
 'P145A027',
 'P145A028',
 'P145A029',
 'P145A030',
 'P145A031',
 'P145A032',
 'P145A033',
 'P145A034',
 'P145A035',
 'P145A036',
 'P145A037',
 'P145A038',
 'P145A039',
 'P145A040',
 'P145A041',
 'P145A042',
 'P145A043',
 'P145A044',
 'P145A045',
 'P145A046',
 'P145A047',
 'P145A048',
 'P145A049']

In [139]:
dec_acs_dict = dict(zip(dec_vars, acs_vars))
dec_acs_dict = dict(zip(df.columns, acs_vars))
dec_acs_dict

{'P145A001': 'B01001A_001E',
 'P145A002': 'B01001A_002E',
 'P145A003': 'B01001A_003E',
 'P145A004': 'B01001A_004E',
 'P145A005': 'B01001A_005E',
 'P145A006': 'B01001A_006E',
 'P145A007': 'B01001A_007E',
 'P145A008': 'B01001A_008E',
 'P145A009': 'B01001A_009E',
 'P145A010': 'B01001A_010E',
 'P145A011': 'B01001A_011E',
 'P145A012': 'B01001A_012E',
 'P145A013': 'B01001A_013E',
 'P145A014': 'B01001A_014E',
 'P145A015': 'B01001A_015E',
 'P145A016': 'B01001A_016E',
 'P145A017': 'B01001A_017E',
 'P145A018': 'B01001A_018E',
 'P145A019': 'B01001A_019E',
 'P145A020': 'B01001A_020E',
 'P145A021': 'B01001A_021E',
 'P145A022': 'B01001A_022E',
 'P145A023': 'B01001A_023E',
 'P145A024': 'B01001A_024E',
 'P145A025': 'B01001A_025E',
 'P145A026': 'B01001A_026E',
 'P145A027': 'B01001A_027E',
 'P145A028': 'B01001A_028E',
 'P145A029': 'B01001A_029E',
 'P145A030': 'B01001A_030E',
 'P145A031': 'B01001A_031E'}

In [ ]:
dec_groups = ['P006','P152','P159', 'P037 '] # race, income, poverty, education

In [155]:
def getDecennialData(dec_vars):
    data = dec_conn.query(
        # ['B01003_001E', 'B01001_001E', 'B01001_002E', 'B01001_026E'],
        # ['P001001','P053001','H011011','P037009','P037010','P037011','P065001'],
        # dec_vars,
        dec_vars,
                geo_unit="zip code tabulation area"
    )

    df = pd.DataFrame(data)

    if 'state' in df.columns:
        df = df[df['state'] == '48']
    df.sort_values('zip code tabulation area')
    df.rename(columns={
        'zip code tabulation area': 'PAT_ZIP'
    })
    base_df = df.copy()

    return base_df

# survey = 'DECENNIALSF32000'
def getACSvariables(race):
    survey = 'ACSDT5Y2011'
    acs_conn = cenpy.remote.APIConnection(survey)
    table_name = ''
    if 'DEC' in survey:
        table_name = 'Census 2000 SF3 Table Number'
    elif 'ACS' in survey:
        table_name = 'ACS Table Number'
        # survey_vars = conn.variables[conn.variables['group'].isin(identical[table_name])
    acs_vars = sorted([i for i in acs_conn.variables.index if i.startswith(f'B01001{race}') ])#and (i.endswith('002E') or i.endswith('001E'))])
    # survey_vars = conn.variables[conn.variables['group'].isin(final_variables['Census 2000 SF3 Table Number'].values)]
    # acs_vars = acs_conn.variables.loc[acs_conn.variables.index.str.startswith('B02001')].sort_index().index
    # acs_vars = acs_vars[:-1]
    return acs_vars

In [92]:
data = dec_conn.query(
    # ['B01003_001E', 'B01001_001E', 'B01001_002E', 'B01001_026E'],
    # ['P001001','P053001','H011011','P037009','P037010','P037011','P065001'],
    # dec_vars,
    dec_vars,
            geo_unit="zip code tabulation area"
)

df = pd.DataFrame(data)

if 'state' in df.columns:
    df = df[df['state'] == '48']
df.sort_values('zip code tabulation area')
df.rename(columns={
    'zip code tabulation area': 'PAT_ZIP'
})
base_df = df.copy()

In [133]:
P145_vars = [f'P145A{i:03}' for i in range(1,50)]
male_anchor = 1
m_20_24 = P145_vars[male_anchor+6:male_anchor+6+3]
m_35_44 = P145_vars[male_anchor+11:male_anchor+11+2]
m_45_54 = P145_vars[male_anchor+13:male_anchor+13+2]
m_55_64 = P145_vars[male_anchor+15:male_anchor+15+3]
m_65_74 = P145_vars[male_anchor+18:male_anchor+18+3]
m_75_84 = P145_vars[male_anchor+21:male_anchor+21+2]

female_anchor = 25
f_20_24 = P145_vars[female_anchor+6:female_anchor+6+3]
f_35_44 = P145_vars[female_anchor+11:female_anchor+11+2]
f_45_54 = P145_vars[female_anchor+13:female_anchor+13+2]
f_55_64 = P145_vars[female_anchor+15:female_anchor+15+3]
f_65_74 = P145_vars[female_anchor+18:female_anchor+18+3]
f_75_84 = P145_vars[female_anchor+21:female_anchor+21+2]

# thirtyfive_fortyfour = ['P145013','P145014']
# fortyfive_fiftyfour = ['P145015','P145016']
# fiftyfive_sixyfour = ['P14517','']

In [104]:
P145_vars[2:7]+P145_vars[10:12]+P145_vars[24:25]

['P145A003',
 'P145A004',
 'P145A005',
 'P145A006',
 'P145A007',
 'P145A011',
 'P145A012',
 'P145A025']

In [147]:
derived_male_df = pd.DataFrame({
    f'{base_var_name}008': df[m_20_24].astype(int).sum(axis=1),
    f'{base_var_name}011': df[m_35_44].astype(int).sum(axis=1),
    f'{base_var_name}012': df[m_45_54].astype(int).sum(axis=1),
    f'{base_var_name}013': df[m_55_64].astype(int).sum(axis=1),
    f'{base_var_name}014': df[m_65_74].astype(int).sum(axis=1),
    f'{base_var_name}015': df[m_75_84].astype(int).sum(axis=1),
})
male_cols_to_keep = df.loc[:,P145_vars[:7]+P145_vars[10:12]+P145_vars[24:25]]
male_cols_to_keep = male_cols_to_keep.rename(columns={
    f'{base_var_name}011': f'{base_var_name}009',
    f'{base_var_name}012': f'{base_var_name}010',
    f'{base_var_name}025': f'{base_var_name}016',
    
})

derived_female_df = pd.DataFrame({
    f'{base_var_name}023': df[f_20_24].astype(int).sum(axis=1),
    f'{base_var_name}026': df[m_35_44].astype(int).sum(axis=1),
    f'{base_var_name}027': df[m_45_54].astype(int).sum(axis=1),
    f'{base_var_name}028': df[m_55_64].astype(int).sum(axis=1),
    f'{base_var_name}029': df[m_65_74].astype(int).sum(axis=1),
    f'{base_var_name}030': df[m_75_84].astype(int).sum(axis=1),
})

female_cols_to_keep = df.loc[:,P145_vars[25:31] + P145_vars[34:36]+P145_vars[-1:]]
female_cols_to_keep = female_cols_to_keep.rename(columns=dict(zip(P145_vars[25:31],[f'{base_var_name}{i:03}' for i in range(17,23)])))
female_cols_to_keep = female_cols_to_keep.rename(columns={
    f'{base_var_name}035': f'{base_var_name}024',
    f'{base_var_name}036': f'{base_var_name}025',
    f'{base_var_name}049': f'{base_var_name}031',
})
female_cols_to_keep
derived_df = pd.concat([derived_male_df, derived_female_df, male_cols_to_keep, female_cols_to_keep], axis=1).sort_index(axis=1)
derived_df.insert(0, 'PAT_ZIP', base_df['zip code tabulation area'])

In [157]:
# survey = 'DECENNIALSF32000'
survey = 'ACSDT5Y2011'
acs_conn = cenpy.remote.APIConnection(survey)
table_name = ''
if 'DEC' in survey:
    table_name = 'Census 2000 SF3 Table Number'
elif 'ACS' in survey:
    table_name = 'ACS Table Number'
    # survey_vars = conn.variables[conn.variables['group'].isin(identical[table_name])
acs_vars = sorted([i for i in acs_conn.variables.index if i.startswith('B17020') and (i.endswith('002E') or i.endswith('001E'))])
acs_vars = acs_vars[:2]
print(acs_vars)
# survey_vars = conn.variables[conn.variables['group'].isin(final_variables['Census 2000 SF3 Table Number'].values)]
# acs_vars = acs_conn.variables.loc[acs_conn.variables.index.str.startswith('B02001')].sort_index().index
data = acs_conn.query(
    # ['B01003_001E', 'B01001_001E', 'B01001_002E', 'B01001_026E'],
    # ['P001001','P053001','H011011','P037009','P037010','P037011','P065001'],
    ['B02001_001E','B02001_002E'] + acs_vars,
            geo_unit="zip code tabulation area"
)

df = pd.DataFrame(data)

if 'state' in df.columns:
    df = df[df['state'] == '48']
df.sort_values('zip code tabulation area')

['B17020A_001E', 'B17020A_002E']

,B02001_001E,B02001_002E,B17020A_001E,B17020A_002E,state,zip code tabulation area
25500,12510,9170,9169,1011,48,75001
25501,62175,46812,46480,1596,48,75002
25502,45931,35798,35629,5307,48,75006
25503,50921,35589,35482,1500,48,75007
25504,8418,7387,7339,374,48,75009
...,...,...,...,...,...,...
28503,17995,12349,12279,489,48,79934
28504,18249,14543,14388,3081,48,79935
28505,114941,96682,96337,14746,48,79936
28506,51367,42417,41155,8578,48,79938
28507,0,0,0,0,48,79942

In [184]:
def mergeZipCode(df_census, label_dict, survey, year, code):
    print(list(label_dict.items())[0][1].split('_')[0])
    df_census = df_census.rename(columns={
        'zip code tabulation area': 'PAT_ZIP'
    })
    # print(df_census.columns)
    df_census = df_census.rename(columns=label_dict)
    # print(df_census.columns)

    df_census = df_census.merge(tx_zip['PAT_ZIP'], on='PAT_ZIP')
    if 'state' in df_census.columns:
        df_census = df_census.drop('state|',axis=1)
    # df_census.to_csv(f'../assets/census/{survey}_{year}_{list(label_dict.items())[0][1].split("_")[0]}.csv', index=False)
    # df_census.to_csv(f'../assets/census/{survey}_{year}_B01001H.csv', index=False)
    df_census.to_csv(f'../assets/census/{survey}_{year}_B01001I.csv', index=False)
    return df_census

In [175]:
acs_vars[0].split('_')[0]

'B01001A'

In [152]:
letters_list = ['A','B','C','D','E','F','G']
age_var_list = [f'P145{i}' for i in letters_list]
age_var_list

['P145A', 'P145B', 'P145C', 'P145D', 'P145E', 'P145F', 'P145G']

In [166]:
def getPopulationByAge(base_var_name):
    dec_vars = sorted([i for i in dec_conn.variables.index if i.startswith(base_var_name) ])
    
    df = getDecennialData(dec_vars)
    acs_vars = getACSvariables(base_var_name[-1])

    dec_acs_dict = dict(zip(df.columns, acs_vars))

    P145_vars = [f'{base_var_name}{i:03}' for i in range(1,50)]
    male_anchor = 1
    m_20_24 = P145_vars[male_anchor+6:male_anchor+6+3]
    m_35_44 = P145_vars[male_anchor+11:male_anchor+11+2]
    m_45_54 = P145_vars[male_anchor+13:male_anchor+13+2]
    m_55_64 = P145_vars[male_anchor+15:male_anchor+15+3]
    m_65_74 = P145_vars[male_anchor+18:male_anchor+18+3]
    m_75_84 = P145_vars[male_anchor+21:male_anchor+21+2]

    female_anchor = 25
    f_20_24 = P145_vars[female_anchor+6:female_anchor+6+3]
    f_35_44 = P145_vars[female_anchor+11:female_anchor+11+2]
    f_45_54 = P145_vars[female_anchor+13:female_anchor+13+2]
    f_55_64 = P145_vars[female_anchor+15:female_anchor+15+3]
    f_65_74 = P145_vars[female_anchor+18:female_anchor+18+3]
    f_75_84 = P145_vars[female_anchor+21:female_anchor+21+2]

    derived_male_df = pd.DataFrame({
    f'{base_var_name}008': df[m_20_24].astype(int).sum(axis=1),
    f'{base_var_name}011': df[m_35_44].astype(int).sum(axis=1),
    f'{base_var_name}012': df[m_45_54].astype(int).sum(axis=1),
    f'{base_var_name}013': df[m_55_64].astype(int).sum(axis=1),
    f'{base_var_name}014': df[m_65_74].astype(int).sum(axis=1),
    f'{base_var_name}015': df[m_75_84].astype(int).sum(axis=1),
})
    male_cols_to_keep = df.loc[:,P145_vars[:7]+P145_vars[10:12]+P145_vars[24:25]]
    male_cols_to_keep = male_cols_to_keep.rename(columns={
        f'{base_var_name}011': f'{base_var_name}009',
        f'{base_var_name}012': f'{base_var_name}010',
        f'{base_var_name}025': f'{base_var_name}016',
        
    })

    derived_female_df = pd.DataFrame({
        f'{base_var_name}023': df[f_20_24].astype(int).sum(axis=1),
        f'{base_var_name}026': df[m_35_44].astype(int).sum(axis=1),
        f'{base_var_name}027': df[m_45_54].astype(int).sum(axis=1),
        f'{base_var_name}028': df[m_55_64].astype(int).sum(axis=1),
        f'{base_var_name}029': df[m_65_74].astype(int).sum(axis=1),
        f'{base_var_name}030': df[m_75_84].astype(int).sum(axis=1),
    })

    female_cols_to_keep = df.loc[:,P145_vars[25:31] + P145_vars[34:36]+P145_vars[-1:]]
    female_cols_to_keep = female_cols_to_keep.rename(columns=dict(zip(P145_vars[25:31],[f'{base_var_name}{i:03}' for i in range(17,23)])))
    female_cols_to_keep = female_cols_to_keep.rename(columns={
        f'{base_var_name}035': f'{base_var_name}024',
        f'{base_var_name}036': f'{base_var_name}025',
        f'{base_var_name}049': f'{base_var_name}031',
    })
    female_cols_to_keep
    derived_df = pd.concat([derived_male_df, derived_female_df, male_cols_to_keep, female_cols_to_keep], axis=1).sort_index(axis=1)
    derived_df.insert(0, 'PAT_ZIP', df['zip code tabulation area'])

    return dec_acs_dict, derived_df

In [185]:
for i in ['P145H']:
    dec_acs_dict, derived_df = getPopulationByAge(i)
    mergeZipCode(derived_df, dec_acs_dict, 'DEC','2000',f'{acs_vars[0].split("_")[0]}')

B01001H

In [178]:
df[df['zip code tabulation area'] == '73949']

,P152A001,P152B001,P152C001,P152D001,P152E001,P152F001,P152G001,P152I001,P152H001,zip code tabulation area
25630,34583,0,102264,35000,0,25625,17917,33988,27813,73949

In [188]:
def acs_survey(variable, year):
    survey = survey = f'ACSDT5Y{year}'
    acs_conn = cenpy.remote.APIConnection(survey)
    acs_vars = []
    if variable == 'B02001':
        acs_vars = sorted([i for i in acs_conn.variables.index if i.startswith(variable)])
        acs_vars = acs_vars[:-2]
    elif variable == 'B19013':
        acs_vars = sorted([i for i in acs_conn.variables.index if i.startswith(variable)])
        acs_vars = acs_vars[:-1]
    elif variable == 'B17020':
        acs_vars = sorted([i for i in acs_conn.variables.index if i.startswith(variable) and (i.endswith('002E') or i.endswith('001E'))])
        # acs_vars = acs_vars
    elif variable == 'B15002':
        acs_vars = sorted([i for i in acs_conn.variables.index if i.startswith(variable)])
        acs_vars = acs_vars[1:]
    elif variable == 'B01001':
        letters_list = ['A','B','C','D','E','F','G','H','I']
        for letter in letters_list:
            acs_vars = sorted([i for i in acs_conn.variables.index if i.startswith(variable+letter)])
            data = acs_conn.query(
                    acs_vars,
                    geo_unit = "zip code tabulation area"
                )

            df = pd.DataFrame(data)

            if 'state' in df.columns:
                df = df[df['state'] == '48']
            df = df.sort_values('zip code tabulation area')
            df = df.rename(columns={
                'zip code tabulation area': 'PAT_ZIP'
            })
            
            df = df.merge(tx_zip['PAT_ZIP'], on='PAT_ZIP')

            if 'state' in df.columns:
                df = df.drop('state',axis=1)


            df = df[['PAT_ZIP'] + [col for col in df.columns if col != 'PAT_ZIP']]
            
            df.to_csv(f'../assets/census/ACS5Y_{year}_{variable+letter}.csv', index=False)
        
    data = acs_conn.query(
        acs_vars,
        geo_unit = "zip code tabulation area"
    )

    df = pd.DataFrame(data)

    if 'state' in df.columns:
        df = df[df['state'] == '48']
    df = df.sort_values('zip code tabulation area')
    df = df.rename(columns={
        'zip code tabulation area': 'PAT_ZIP'
    })
    
    df = df.merge(tx_zip['PAT_ZIP'], on='PAT_ZIP')

    if 'state' in df.columns:
        df = df.drop('state',axis=1)


    df = df[['PAT_ZIP'] + [col for col in df.columns if col != 'PAT_ZIP']]
    
    df.to_csv(f'../assets/census/ACS5Y_{year}_{variable}.csv', index=False)

In [189]:
variable_list = ['B02001','B19013','B17020','B15002']
variable_list = ['B01001']
year_list = ['2011','2016','2021']
for year in year_list:
    for variable in variable_list:
        print(year, variable)
        acs_survey(variable, year)

2011 B01001
2016 B01001
2021 B01001

---
### Separating ACS2011, 2016, 2021 B15002 variables to male and female

In [29]:
file_path = '../assets/census/customVariables/'
census_files = [file_path+i for i in os.listdir(file_path) if 'ACS' in i and 'B15002' in i]
census_files

['../assets/census/customVariables/ACS5Y_2011_B15002.csv',
 '../assets/census/customVariables/ACS5Y_2016_B15002.csv',
 '../assets/census/customVariables/ACS5Y_2021_B15002.csv']

In [45]:
male_range = [f'B15002_{i:03}E' for i in range(2,19)]
female_range = [f'B15002_{i:03}E' for i in range(19,36)]
for file in census_files:
    print(file[:-4])
    df = pd.read_csv(file)
    male_df = df.loc[:, ['PAT_ZIP'] + male_range]
    male_df.to_csv(f'{file[:-4]}M.csv', index=False)

    female_df = df.loc[:, ['PAT_ZIP'] + female_range]
    female_df.to_csv(f'{file[:-4]}F.csv', index=False)

    # df.loc[:,['PAT_ZIP'] +male_range]

../assets/census/customVariables/ACS5Y_2011_B15002
../assets/census/customVariables/ACS5Y_2016_B15002
../assets/census/customVariables/ACS5Y_2021_B15002

---

### Test ACS variables

In [9]:
# survey = 'DECENNIALSF32000'
survey = 'ACSDT5Y2011'
acs_conn = cenpy.remote.APIConnection(survey)
table_name = ''
if 'DEC' in survey:
    table_name = 'Census 2000 SF3 Table Number'
elif 'ACS' in survey:
    table_name = 'ACS Table Number'
    # survey_vars = conn.variables[conn.variables['group'].isin(identical[table_name])

# survey_vars = conn.variables[conn.variables['group'].isin(final_variables['Census 2000 SF3 Table Number'].values)]
# acs_vars = acs_conn.variables.loc[acs_conn.variables.index.str.startswith('B02001')].sort_index().index

In [28]:
acs_vars = sorted([i for i in acs_conn.variables.index if i.startswith('B15002') ])# and i.endswith('002E')])
acs_vars

['B15002_001E',
 'B15002_002E',
 'B15002_003E',
 'B15002_004E',
 'B15002_005E',
 'B15002_006E',
 'B15002_007E',
 'B15002_008E',
 'B15002_009E',
 'B15002_010E',
 'B15002_011E',
 'B15002_012E',
 'B15002_013E',
 'B15002_014E',
 'B15002_015E',
 'B15002_016E',
 'B15002_017E',
 'B15002_018E',
 'B15002_019E',
 'B15002_020E',
 'B15002_021E',
 'B15002_022E',
 'B15002_023E',
 'B15002_024E',
 'B15002_025E',
 'B15002_026E',
 'B15002_027E',
 'B15002_028E',
 'B15002_029E',
 'B15002_030E',
 'B15002_031E',
 'B15002_032E',
 'B15002_033E',
 'B15002_034E',
 'B15002_035E']

In [14]:
acs_vars_full = []

In [27]:
acs_vars_full.append(acs_vars)
acs_vars_full

[['B02001_001E',
  'B02001_002E',
  'B02001_003E',
  'B02001_004E',
  'B02001_005E',
  'B02001_006E',
  'B02001_007E',
  'B02001_008E'],
 ['B19013A_001E',
  'B19013B_001E',
  'B19013C_001E',
  'B19013D_001E',
  'B19013E_001E',
  'B19013F_001E',
  'B19013G_001E',
  'B19013H_001E',
  'B19013I_001E'],
 ['B17020A_002E',
  'B17020B_002E',
  'B17020C_002E',
  'B17020D_002E',
  'B17020E_002E',
  'B17020F_002E',
  'B17020G_002E',
  'B17020H_002E',
  'B17020I_002E']]

In [36]:
# survey = 'DECENNIALSF32000'
survey = 'ACSDT5Y2011'
acs_conn = cenpy.remote.APIConnection(survey)
table_name = ''
if 'DEC' in survey:
    table_name = 'Census 2000 SF3 Table Number'
elif 'ACS' in survey:
    table_name = 'ACS Table Number'
    # survey_vars = conn.variables[conn.variables['group'].isin(identical[table_name])
acs_vars = sorted([i for i in acs_conn.variables.index if i.startswith('B15002') ])# and i.endswith('002E')])
# survey_vars = conn.variables[conn.variables['group'].isin(final_variables['Census 2000 SF3 Table Number'].values)]
# acs_vars = acs_conn.variables.loc[acs_conn.variables.index.str.startswith('B02001')].sort_index().index
data = acs_conn.query(
    # ['B01003_001E', 'B01001_001E', 'B01001_002E', 'B01001_026E'],
    # ['P001001','P053001','H011011','P037009','P037010','P037011','P065001'],
    # dec_vars,
    acs_vars,
            geo_unit="zip code tabulation area"
)

df = pd.DataFrame(data)

if 'state' in df.columns:
    df = df[df['state'] == '48']
df.sort_values('zip code tabulation area')

,B02001_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B02001_008E,B02001_009E,B02001_010E,state,zip code tabulation area
25500,12510,9170,1444,34,686,136,891,149,38,111,48,75001
25501,62175,46812,6156,90,5272,0,1470,2375,678,1697,48,75002
25502,45931,35798,3461,328,3206,0,2525,613,152,461,48,75006
25503,50921,35589,4542,593,6820,30,1634,1713,357,1356,48,75007
25504,8418,7387,112,207,0,0,505,207,136,71,48,75009
...,...,...,...,...,...,...,...,...,...,...,...,...
28503,17995,12349,2694,9,332,16,1481,1114,451,663,48,79934
28504,18249,14543,584,89,98,22,2527,386,206,180,48,79935
28505,114941,96682,2237,576,737,0,12809,1900,1403,497,48,79936
28506,51367,42417,1381,437,401,72,5320,1339,717,622,48,79938
28507,0,0,0,0,0,0,0,0,0,0,48,79942

In [31]:
data = conn.query(
    # ['B01003_001E', 'B01001_001E', 'B01001_002E', 'B01001_026E'],
    # ['P001001','P053001','H011011','P037009','P037010','P037011','P065001'],
    # dec_vars,
    dec_vars_full[0],
            geo_unit="zip code tabulation area"
)

df = pd.DataFrame(data)

if 'state' in df.columns:
    df = df[df['state'] == '48']
df.sort_values('zip code tabulation area')

,P006001,P006002,P006003,P006004,P006005,P006006,P006007,P006008,zip code tabulation area
0,19143,18187,161,89,0,0,470,236,00601
1,42042,37309,1334,11,37,0,2129,1222,00602
2,55592,46272,2989,11,46,0,4780,1494,00603
3,3844,3215,226,0,49,0,261,93,00604
4,6449,5821,175,5,0,0,200,248,00606
...,...,...,...,...,...,...,...,...,...
33173,136,132,0,3,0,0,0,1,99927
33174,2424,1749,0,376,26,0,0,273,99929
33175,47,47,0,0,0,0,0,0,99950
33176,0,0,0,0,0,0,0,0,999HH
33177,382,339,0,27,0,0,9,7,999XX