In [1]:
# from cenpy import products
import matplotlib.pyplot as plt
import cenpy
import pandas as pd 
import os
import numpy as np
pd.set_option('display.max_columns', None)
import geopandas as gpd

c:\Users\Ash\anaconda3\envs\hospitalization\lib\site-packages\libpysal\cg\alpha_shapes.py:39: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  def nb_dist(x, y):
c:\Users\Ash\anaconda3\envs\hospitalization\lib\site-packages\libpysal\cg\alpha_shapes.py:165: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  def get_faces(triangle):
c:\Users\Ash\anaconda3\envs\hospitalization\lib\site-packages\libpysal\cg\alpha_shapes.py:199: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  def build_faces(faces, triangles_is, num_triangles, num_faces_single):
c:\Users\Ash\anaconda3\envs\hospitalization\lib\site-packages\libpysal\cg\alpha_shapes.py:261: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  def nb_mask_faces(mask, faces):

In [2]:
zip_2010 = "D:/GitHub/merraData/tx_texas_zip_codes_geo.min.json"
tx_zip = gpd.read_file(zip_2010)
tx_zip = tx_zip.rename(columns={
    'ZCTA5CE10': 'PAT_ZIP'
})

### Age, sex

DEC
- P008002 - P008040 (Male from Total male to 85 years and over)
- P008041 - P008079 (Female from Total female to 85 years and over)
Need to sum columns to reflect the grouping done by ACS

ACS
- B01001_002E - B01001_025E (Male from Total male to 85 years and over)
- B01001_026E - B01001_049E (Female from Total female to 85 years and over)

### Race

DEC
- P006001 - P006008 (Total populations by race (white, black, native, asian, pacific, other, two or more))

ACS 
- B02001_001E - B02001_008E (Total populations by race (white, black, native, asian, pacific, other, two or more))

### Income/Poverty

DEC
- P152A - P152H (Median Household Income, by race - white, black, native, asian, pacific, other, two or more, not hispanic, hispanic)
- P159A002 - P159H002 (Poverty status, by race )

ACS 
- B19013A_001E - B19013H_001E (median house hold income, by race)
- B17020A_002E - B17020H_002E (poverty status, by race)

### Education

DEC
- P037001 - P037005 (Sex by educational attainment for population 25 years and over)
- B15002_001E - B15035_001E (Sex by educational attainment for population 25 years and over)

---

- A    White alone
- B    Black or African American Alone
- C    American Indian and Alaska Native Alone
- D    Asian Alone
- E    Native Hawaiian and Other Pacific Islander Alone
- F    Some Other Race Alone
- G    Two or More Races
- H    White Alone, Not Hispanic or Latino
- I    Hispanic or Latino

In [84]:
survey = 'DECENNIALSF32000'
# survey = 'ACSDT5Y2011'
dec_conn = cenpy.remote.APIConnection(survey)
table_name = ''
if 'DEC' in survey:
    table_name = 'Census 2000 SF3 Table Number'
elif 'ACS' in survey:
    table_name = 'ACS Table Number'
    # survey_vars = conn.variables[conn.variables['group'].isin(identical[table_name])

# survey_vars = conn.variables[conn.variables['group'].isin(final_variables['Census 2000 SF3 Table Number'].values)]

In [168]:
# survey = 'DECENNIALSF32000'
survey = 'ACSDT5Y2011'
acs_conn = cenpy.remote.APIConnection(survey)
table_name = ''
if 'DEC' in survey:
    table_name = 'Census 2000 SF3 Table Number'
elif 'ACS' in survey:
    table_name = 'ACS Table Number'
    # survey_vars = conn.variables[conn.variables['group'].isin(identical[table_name])
acs_vars = sorted([i for i in acs_conn.variables.index if i.startswith('B19013') ]) #and i.endswith('002E')])
# survey_vars = conn.variables[conn.variables['group'].isin(final_variables['Census 2000 SF3 Table Number'].values)]
# acs_vars = acs_conn.variables.loc[acs_conn.variables.index.str.startswith('B02001')].sort_index().index
acs_vars = acs_vars[:-1]
acs_vars
# data = acs_conn.query(
#     # ['B01003_001E', 'B01001_001E', 'B01001_002E', 'B01001_026E'],
#     # ['P001001','P053001','H011011','P037009','P037010','P037011','P065001'],
#     # dec_vars,
#     acs_vars,
#             geo_unit="zip code tabulation area"
# )

# df = pd.DataFrame(data)

# if 'state' in df.columns:
#     df = df[df['state'] == '48']
# df.sort_values('zip code tabulation area')

['B19013A_001E',
 'B19013B_001E',
 'B19013C_001E',
 'B19013D_001E',
 'B19013E_001E',
 'B19013F_001E',
 'B19013G_001E',
 'B19013H_001E',
 'B19013I_001E']

In [169]:
def switch_last_and_second_to_last(lst):
    if len(lst) < 2:
        # Handle the case where the list has less than 2 elements
        return lst

    # Swap the last and second-to-last elements
    # lst[-1], lst[-2] = lst[-2], lst[-1]

In [170]:
switch_last_and_second_to_last(dec_vars)

In [182]:
dec_vars = sorted([i for i in dec_conn.variables.index if i.startswith('P159') and (i.endswith('002') or i.endswith('001'))])
# dec_vars = dec_vars
# dec_vars = dec_vars[1:18]
dec_vars = dec_vars
dec_vars

['P159A001',
 'P159A002',
 'P159B001',
 'P159B002',
 'P159C001',
 'P159C002',
 'P159D001',
 'P159D002',
 'P159E001',
 'P159E002',
 'P159F001',
 'P159F002',
 'P159G001',
 'P159G002',
 'P159H001',
 'P159H002',
 'P159I001',
 'P159I002']

In [171]:
dec_vars

['P152A001',
 'P152B001',
 'P152C001',
 'P152D001',
 'P152E001',
 'P152F001',
 'P152G001',
 'P152I001',
 'P152H001']

In [172]:
dec_acs_dict = dict(zip(dec_vars, acs_vars))
dec_acs_dict

{'P152A001': 'B19013A_001E',
 'P152B001': 'B19013B_001E',
 'P152C001': 'B19013C_001E',
 'P152D001': 'B19013D_001E',
 'P152E001': 'B19013E_001E',
 'P152F001': 'B19013F_001E',
 'P152G001': 'B19013G_001E',
 'P152I001': 'B19013H_001E',
 'P152H001': 'B19013I_001E'}

In [ ]:
dec_groups = ['P006','P152','P159', 'P037 '] # race, income, poverty, education

In [173]:
data = dec_conn.query(
    # ['B01003_001E', 'B01001_001E', 'B01001_002E', 'B01001_026E'],
    # ['P001001','P053001','H011011','P037009','P037010','P037011','P065001'],
    # dec_vars,
    dec_vars,
            geo_unit="zip code tabulation area"
)

df = pd.DataFrame(data)

if 'state' in df.columns:
    df = df[df['state'] == '48']
df.sort_values('zip code tabulation area')
df.rename(columns={
    'zip code tabulation area': 'PAT_ZIP'
})

,P152A001,P152B001,P152C001,P152D001,P152E001,P152F001,P152G001,P152I001,P152H001,PAT_ZIP
0,9778,7250,3977,0,0,11726,12917,11250,9874,00601
1,11365,11716,16250,30250,0,11500,10929,6944,11403,00602
2,10806,11514,3750,13750,0,9231,11131,15833,10719,00603
3,30847,25278,0,73125,0,49000,41250,45962,29523,00604
4,9463,4185,8750,0,0,12813,7917,31250,9197,00606
...,...,...,...,...,...,...,...,...,...,...
33173,17321,0,0,0,0,0,6250,17321,0,99927
33174,46293,0,17500,127308,0,0,40000,46293,0,99929
33175,37708,0,0,0,0,0,0,39792,21250,99950
33176,0,0,0,0,0,0,0,0,0,999HH
33177,33000,0,28750,0,0,13750,200001,33000,0,999XX

In [157]:
# survey = 'DECENNIALSF32000'
survey = 'ACSDT5Y2011'
acs_conn = cenpy.remote.APIConnection(survey)
table_name = ''
if 'DEC' in survey:
    table_name = 'Census 2000 SF3 Table Number'
elif 'ACS' in survey:
    table_name = 'ACS Table Number'
    # survey_vars = conn.variables[conn.variables['group'].isin(identical[table_name])
acs_vars = sorted([i for i in acs_conn.variables.index if i.startswith('B17020') and (i.endswith('002E') or i.endswith('001E'))])
acs_vars = acs_vars[:2]
print(acs_vars)
# survey_vars = conn.variables[conn.variables['group'].isin(final_variables['Census 2000 SF3 Table Number'].values)]
# acs_vars = acs_conn.variables.loc[acs_conn.variables.index.str.startswith('B02001')].sort_index().index
data = acs_conn.query(
    # ['B01003_001E', 'B01001_001E', 'B01001_002E', 'B01001_026E'],
    # ['P001001','P053001','H011011','P037009','P037010','P037011','P065001'],
    ['B02001_001E','B02001_002E'] + acs_vars,
            geo_unit="zip code tabulation area"
)

df = pd.DataFrame(data)

if 'state' in df.columns:
    df = df[df['state'] == '48']
df.sort_values('zip code tabulation area')

['B17020A_001E', 'B17020A_002E']

,B02001_001E,B02001_002E,B17020A_001E,B17020A_002E,state,zip code tabulation area
25500,12510,9170,9169,1011,48,75001
25501,62175,46812,46480,1596,48,75002
25502,45931,35798,35629,5307,48,75006
25503,50921,35589,35482,1500,48,75007
25504,8418,7387,7339,374,48,75009
...,...,...,...,...,...,...
28503,17995,12349,12279,489,48,79934
28504,18249,14543,14388,3081,48,79935
28505,114941,96682,96337,14746,48,79936
28506,51367,42417,41155,8578,48,79938
28507,0,0,0,0,48,79942

In [124]:
def mergeZipCode(df_census, label_dict, survey, year, code):
    df_census = df_census.rename(columns={
        'zip code tabulation area': 'PAT_ZIP'
    })
    df_census = df_census.rename(columns=label_dict)

    df_census = df_census.merge(tx_zip['PAT_ZIP'], on='PAT_ZIP')
    if 'state' in df_census.columns:
        df_census = df_census.drop('state',axis=1)
    df_census.to_csv(f'../assets/census/{survey}_{year}_{code}.csv', index=False)

    return df_census

In [119]:
acs_vars[0].split('_')[0]

'B02001'

In [174]:
mergeZipCode(df, dec_acs_dict, 'DEC','2000',f'{acs_vars[0].split("_")[0]}')

,B19013A_001E,B19013B_001E,B19013C_001E,B19013D_001E,B19013E_001E,B19013F_001E,B19013G_001E,B19013H_001E,B19013I_001E,PAT_ZIP
0,34583,0,102264,35000,0,25625,17917,33988,27813,73949
1,60805,48233,46827,51011,36250,38750,70875,61670,36319,75001
2,75658,63393,103682,66400,0,55125,57500,76323,61625,75002
3,55806,53550,63750,47441,0,39612,42209,58594,39794,75006
4,73944,57102,72083,60667,190164,49107,55598,75729,57216,75007
...,...,...,...,...,...,...,...,...,...,...
1831,44696,42339,32604,57969,59000,37237,43278,54170,40226,79936
1832,27745,56458,0,21250,0,29527,31375,30000,28507,79938
1833,19924,31250,9286,0,0,20059,26250,23214,20013,88063
1834,34454,21786,12019,41071,0,28212,36875,37170,26756,88220
1835,21563,0,56250,0,0,0,0,21875,6875,88430

In [178]:
df[df['zip code tabulation area'] == '73949']

,P152A001,P152B001,P152C001,P152D001,P152E001,P152F001,P152G001,P152I001,P152H001,zip code tabulation area
25630,34583,0,102264,35000,0,25625,17917,33988,27813,73949

In [162]:
def acs_survey(variable, year):
    survey = survey = f'ACSDT5Y{year}'
    acs_conn = cenpy.remote.APIConnection(survey)
    acs_vars = []
    if variable == 'B02001':
        acs_vars = sorted([i for i in acs_conn.variables.index if i.startswith(variable)])
        acs_vars = acs_vars[:-2]
    elif variable == 'B19013':
        acs_vars = sorted([i for i in acs_conn.variables.index if i.startswith(variable)])
        acs_vars = acs_vars[:-1]
    elif variable == 'B17020':
        acs_vars = sorted([i for i in acs_conn.variables.index if i.startswith(variable) and (i.endswith('002E') or i.endswith('001E'))])
        # acs_vars = acs_vars
    elif variable == 'B15002':
        acs_vars = sorted([i for i in acs_conn.variables.index if i.startswith(variable)])
        acs_vars = acs_vars[1:]

    data = acs_conn.query(
        acs_vars,
        geo_unit = "zip code tabulation area"
    )

    df = pd.DataFrame(data)

    if 'state' in df.columns:
        df = df[df['state'] == '48']
    df = df.sort_values('zip code tabulation area')
    df = df.rename(columns={
        'zip code tabulation area': 'PAT_ZIP'
    })
    
    df = df.merge(tx_zip['PAT_ZIP'], on='PAT_ZIP')

    if 'state' in df.columns:
        df = df.drop('state',axis=1)


    df = df[['PAT_ZIP'] + [col for col in df.columns if col != 'PAT_ZIP']]
    
    df.to_csv(f'../assets/census/ACS5Y_{year}_{variable}.csv', index=False)

In [164]:
variable_list = ['B02001','B19013','B17020','B15002']
year_list = ['2011','2016','2021']
for year in year_list:
    for variable in variable_list:
        print(year, variable)
        acs_survey(variable, year)

2011 B02001
2011 B19013
2011 B17020
2011 B15002
2016 B02001
2016 B19013
2016 B17020
2016 B15002
2021 B02001
2021 B19013
2021 B17020
2021 B15002

---

### Test ACS variables

In [9]:
# survey = 'DECENNIALSF32000'
survey = 'ACSDT5Y2011'
acs_conn = cenpy.remote.APIConnection(survey)
table_name = ''
if 'DEC' in survey:
    table_name = 'Census 2000 SF3 Table Number'
elif 'ACS' in survey:
    table_name = 'ACS Table Number'
    # survey_vars = conn.variables[conn.variables['group'].isin(identical[table_name])

# survey_vars = conn.variables[conn.variables['group'].isin(final_variables['Census 2000 SF3 Table Number'].values)]
# acs_vars = acs_conn.variables.loc[acs_conn.variables.index.str.startswith('B02001')].sort_index().index

In [28]:
acs_vars = sorted([i for i in acs_conn.variables.index if i.startswith('B15002') ])# and i.endswith('002E')])
acs_vars

['B15002_001E',
 'B15002_002E',
 'B15002_003E',
 'B15002_004E',
 'B15002_005E',
 'B15002_006E',
 'B15002_007E',
 'B15002_008E',
 'B15002_009E',
 'B15002_010E',
 'B15002_011E',
 'B15002_012E',
 'B15002_013E',
 'B15002_014E',
 'B15002_015E',
 'B15002_016E',
 'B15002_017E',
 'B15002_018E',
 'B15002_019E',
 'B15002_020E',
 'B15002_021E',
 'B15002_022E',
 'B15002_023E',
 'B15002_024E',
 'B15002_025E',
 'B15002_026E',
 'B15002_027E',
 'B15002_028E',
 'B15002_029E',
 'B15002_030E',
 'B15002_031E',
 'B15002_032E',
 'B15002_033E',
 'B15002_034E',
 'B15002_035E']

In [14]:
acs_vars_full = []

In [27]:
acs_vars_full.append(acs_vars)
acs_vars_full

[['B02001_001E',
  'B02001_002E',
  'B02001_003E',
  'B02001_004E',
  'B02001_005E',
  'B02001_006E',
  'B02001_007E',
  'B02001_008E'],
 ['B19013A_001E',
  'B19013B_001E',
  'B19013C_001E',
  'B19013D_001E',
  'B19013E_001E',
  'B19013F_001E',
  'B19013G_001E',
  'B19013H_001E',
  'B19013I_001E'],
 ['B17020A_002E',
  'B17020B_002E',
  'B17020C_002E',
  'B17020D_002E',
  'B17020E_002E',
  'B17020F_002E',
  'B17020G_002E',
  'B17020H_002E',
  'B17020I_002E']]

In [36]:
# survey = 'DECENNIALSF32000'
survey = 'ACSDT5Y2011'
acs_conn = cenpy.remote.APIConnection(survey)
table_name = ''
if 'DEC' in survey:
    table_name = 'Census 2000 SF3 Table Number'
elif 'ACS' in survey:
    table_name = 'ACS Table Number'
    # survey_vars = conn.variables[conn.variables['group'].isin(identical[table_name])
acs_vars = sorted([i for i in acs_conn.variables.index if i.startswith('B15002') ])# and i.endswith('002E')])
# survey_vars = conn.variables[conn.variables['group'].isin(final_variables['Census 2000 SF3 Table Number'].values)]
# acs_vars = acs_conn.variables.loc[acs_conn.variables.index.str.startswith('B02001')].sort_index().index
data = acs_conn.query(
    # ['B01003_001E', 'B01001_001E', 'B01001_002E', 'B01001_026E'],
    # ['P001001','P053001','H011011','P037009','P037010','P037011','P065001'],
    # dec_vars,
    acs_vars,
            geo_unit="zip code tabulation area"
)

df = pd.DataFrame(data)

if 'state' in df.columns:
    df = df[df['state'] == '48']
df.sort_values('zip code tabulation area')

,B02001_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B02001_008E,B02001_009E,B02001_010E,state,zip code tabulation area
25500,12510,9170,1444,34,686,136,891,149,38,111,48,75001
25501,62175,46812,6156,90,5272,0,1470,2375,678,1697,48,75002
25502,45931,35798,3461,328,3206,0,2525,613,152,461,48,75006
25503,50921,35589,4542,593,6820,30,1634,1713,357,1356,48,75007
25504,8418,7387,112,207,0,0,505,207,136,71,48,75009
...,...,...,...,...,...,...,...,...,...,...,...,...
28503,17995,12349,2694,9,332,16,1481,1114,451,663,48,79934
28504,18249,14543,584,89,98,22,2527,386,206,180,48,79935
28505,114941,96682,2237,576,737,0,12809,1900,1403,497,48,79936
28506,51367,42417,1381,437,401,72,5320,1339,717,622,48,79938
28507,0,0,0,0,0,0,0,0,0,0,48,79942

In [31]:
data = conn.query(
    # ['B01003_001E', 'B01001_001E', 'B01001_002E', 'B01001_026E'],
    # ['P001001','P053001','H011011','P037009','P037010','P037011','P065001'],
    # dec_vars,
    dec_vars_full[0],
            geo_unit="zip code tabulation area"
)

df = pd.DataFrame(data)

if 'state' in df.columns:
    df = df[df['state'] == '48']
df.sort_values('zip code tabulation area')

,P006001,P006002,P006003,P006004,P006005,P006006,P006007,P006008,zip code tabulation area
0,19143,18187,161,89,0,0,470,236,00601
1,42042,37309,1334,11,37,0,2129,1222,00602
2,55592,46272,2989,11,46,0,4780,1494,00603
3,3844,3215,226,0,49,0,261,93,00604
4,6449,5821,175,5,0,0,200,248,00606
...,...,...,...,...,...,...,...,...,...
33173,136,132,0,3,0,0,0,1,99927
33174,2424,1749,0,376,26,0,0,273,99929
33175,47,47,0,0,0,0,0,0,99950
33176,0,0,0,0,0,0,0,0,999HH
33177,382,339,0,27,0,0,9,7,999XX