In [1]:
import pandas as pd
import os 
import xarray as xr
import geopandas as gpd
import numpy as np

root = "./CAMS/"
units = "../assets/CAMS_units.csv"
zip_2010 = "./tx_texas_zip_codes_geo.min.json"
hospital_data = 'D:/GitHub/THCICAnalysis/Hospital/'
census_data = "./Census/"
zipPop = "../assets/census/interpolatedPopulations.csv"

In [17]:
os.path.abspath([i for i in os.listdir(hospital_data) if 'base1_4q2016_tab.csv' in i][0])

'd:\\GitHub\\environmentalSocialHealth\\pandas\\PUDF_base1_4q2016_tab.csv'

In [20]:
[hospital_data+i for i in os.listdir(hospital_data) if 'base1_1q2005_tab.csv' in i][0]

'/media/teamlary/ssd/Discharge Data/Inpatient/Data/PUDF_base1_1q2005_tab.csv'

In [3]:
pd.read_csv([hospital_data+i for i in os.listdir(hospital_data) if 'base1_1q2005_tab.csv' in i][0])

C:\Users\Ash\AppData\Local\Temp\ipykernel_35956\3493168791.py:1: DtypeWarning: Columns (3,4,5,6,7,8,9,10,14,15,17,18,24,25,26,28,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,94,97,168,169,170,171,172,173,174,177,178,179,180,185,186,187,188,189,190,191,192,193,194,195,197,199,201,203,209,210,211,213,214,221,223,225,227,229,231,233,235) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv([hospital_data+i for i in os.listdir(hospital_data) if 'base1_1q2005_tab.csv' in i][0])

,DISCHARGE_QTR,THCIC_ID,PROVIDER_NAME,FAC_TEACHING_IND,FAC_PSYCH_IND,FAC_REHAB_IND,FAC_ACUTE_CARE_IND,FAC_SNF_IND,FAC_LONG_TERM_AC_IND,FAC_OTHER_LTC_IND,...,HCFA_MDC,APR_MDC,HCFA_DRG,APR_DRG,RISK_MORTALITY,ILLNESS_SEVERITY,ATTENDING_PHYS_UNIF_ID,OPERATING_PHYS_UNIF_ID,CERT_STATUS,RECORD_ID
0,2005Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,425,756,1,1,9999999998,NaN,2,120050000915
1,2005Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,425,756,1,1,9999999998,NaN,2,120050000935
2,2005Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,120050000615
3,2005Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,120050000792
4,2005Q1,100,Austin State Hospital,NaN,X,NaN,NaN,NaN,NaN,NaN,...,19,19,426,754,1,1,9999999998,NaN,2,120050000451
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715588,2005Q1,999999,Low Discharge Volume Hospital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8,8,537,315,1,1,9999999998,1.000000e+10,1,120050702530
715589,2005Q1,999999,Low Discharge Volume Hospital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8,8,538,315,1,1,9999999998,1.000000e+10,1,120050700725
715590,2005Q1,999999,Low Discharge Volume Hospital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,4,542,5,3,4,9999999998,1.000000e+10,2,120050642406
715591,2005Q1,999999,Low Discharge Volume Hospital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,4,542,5,4,4,9999999998,1.000000e+10,2,120050642410
715592,2005Q1,999999,Low Discharge Volume Hospital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,4,542,5,4,4,9999999998,1.000000e+10,1,120050674164

In [4]:
zip_population = pd.read_csv(zipPop)
zip_population

,PAT_ZIP,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,73949,1866,1866,1866,1866,1866,1866,1866,1866,1866,...,1866,1866,1866,1866,1866,1764,1662,1561,1459,1357
1,75001,8175,8569,8963,9357,9751,10145,10540,10934,11328,...,12892,13274,13657,14039,14421,14794,15167,15541,15914,16287
2,75002,37171,39444,41717,43990,46263,48536,50810,53083,55356,...,63513,64850,66188,67525,68863,69311,69759,70206,70654,71102
3,75006,45990,45985,45979,45974,45969,45963,45958,45952,45947,...,46752,47574,48395,49217,50038,49651,49264,48878,48491,48104
4,75007,50357,50408,50460,50511,50562,50613,50665,50716,50767,...,51599,52277,52956,53634,54312,54339,54366,54394,54421,54448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1934,79911,1849,1849,1849,1849,1849,1849,1849,1849,1849,...,2261,2673,3084,3496,3908,4660,5412,6164,6916,7668
1935,79916,3144,3144,3144,3144,3144,3144,3144,3144,3144,...,3109,3074,3038,3003,2968,3280,3591,3903,4214,4526
1936,79920,52,52,52,52,52,52,52,52,52,...,51,50,48,47,46,38,30,23,15,7
1937,79928,44205,44205,44205,44205,44205,44205,44205,44205,44205,...,46847,49489,52131,54773,57415,61210,65006,68801,72597,76392
1938,79942,0,0,0,0,0,0,0,0,0,...,4,7,11,14,18,18,18,18,18,18

In [65]:
def groupDF(df, icd_code):
    '''
    this function will take in a dataframe, find out which patients have the given icd code, then count by zip code and finally return this groupby dataframe
    '''
    return_df = df[df['PRINC_DIAG_CODE'].astype(str) == icd_code].groupby('PAT_ZIP').size().sort_values(ascending=False).reset_index()
    # print(return_df.info()
    # print(return_df.info())
    return_df.columns = ['PAT_ZIP','ICD']
    # return_df.replace('`',np.NaN, inplace=True)
    # return_df['zip_codes'] = return_df['zip_codes'].fillna(0).astype('int')

    return return_df

icd = pd.read_pickle('../assets/ICDPickle.pkl')


def interpCensus(quarter):
    year = quarter[2:]
    df = zip_population[['PAT_ZIP',year]]
    df.columns = ['PAT_ZIP','population']

    return df
    
def loopICDperQuarter(time_period, nthresh=1, icd10=True):
    data = pd.DataFrame()
        ### load hospital data into hospitaldf (pd.DataFrame)
    for ind, quarter in enumerate(time_period):
        print(quarter)
        hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")
        # print('hospital df head')
        # print(hospital_df.head())
        # hospital_df = hospital_df[hospital_df['SEX_CODE'] == 'F']
        hospital_df['PAT_ZIP'] = hospital_df['PAT_ZIP'].astype('str').replace(r'\.0$','',regex=True)
        # hospital_df = hospital_df[~hospital_df['PAT_ZIP'].str.endswith('.0')]
        hospital_df = hospital_df[hospital_df['PAT_ZIP'].map(len) == 5]
        hospital_df['PAT_ZIP'] = hospital_df['PAT_ZIP'].astype('int')

        zip_population = interpCensus(quarter)

        if icd10 == True:
            codes = icd['PRINC_DIAG_CODE']
        else:
            codes = icd['ICD-9']

        for sind, icd_code in enumerate(codes[:2]):
            os.makedirs(f'icd10/{icd["PRINC_DIAG_CODE"][sind]}', exist_ok=True)
            # if processing icd-9 codes, then get list of values in icd9cm_mult
            # for each value of icd9cm_mult, groupby and add to that icd-10 folder
            base_df = pd.DataFrame()
            if icd10 == False:
                for item in icd['icd9cm_mult'][sind]:
                    print(item) 
                    print(len(hospital_df[hospital_df['PRINC_DIAG_CODE'].astype(str) == item]))                           
                    icd_df = groupDF(hospital_df, item)
                    print(len(icd_df))
                    icd_df = icd_df.merge(zip_population, on='PAT_ZIP')
                    print(len(icd_df))
                    icd_df['normalized'] = icd_df['ICD']/icd_df['population']
                               # icd_df = icd_df[['PAT_ZIP','ICD','normalized']]
                    icd_df = icd_df[icd_df['ICD'] >= nthresh]
                    print(len(icd_df))
                    print(icd_df.columns)

                    base_df = pd.concat([base_df, icd_df])
            else: 
                icd_df = groupDF(hospital_df, icd_code)
                icd_df = icd_df.merge(zip_population, on='PAT_ZIP')
                icd_df['normalized'] = icd_df['ICD']/icd_df['population']
                            # icd_df = icd_df[['PAT_ZIP','ICD','normalized']]
                icd_df = icd_df[icd_df['ICD'] >= nthresh]

                base_df = pd.concat([base_df, icd_df])
            base_df.to_csv(f'./icd10/{icd["PRINC_DIAG_CODE"][sind]}/{quarter}.csv', index=False) # change this to save files as 2005q1 instead of 1q2005
            # print(icd_df.head())

    del hospital_df

    return data

In [37]:
start_year = 2005
end_year = 2022

hospital_quarters = [f"{quarter}q{year}" for year in range(start_year, end_year + 1) for quarter in range(1, 5) if not (year == end_year and quarter > 2)]
hospital_quarters = hospital_quarters[:-1]
icd9_subset = hospital_quarters[hospital_quarters.index(f'1q{start_year}'):hospital_quarters.index('4q2015')]
icd10_subset = hospital_quarters[hospital_quarters.index('4q2015'):hospital_quarters.index(f'1q{end_year}')]

In [66]:
loopICDperQuarter(icd9_subset[:1], icd10=False)

1q2005

C:\Users\Ash\AppData\Local\Temp\ipykernel_35956\2255725948.py:29: DtypeWarning: Columns (3,4,5,6,7,8,9,10,14,15,17,18,24,25,26,28,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,94,97,168,169,170,171,172,173,174,177,178,179,180,185,186,187,188,189,190,191,192,193,194,195,197,199,201,203,209,210,211,213,214,221,223,225,227,229,231,233,235) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

V3000
55251
1538
1421
1421
Index(['PAT_ZIP', 'ICD', 'population', 'normalized'], dtype='object')
V3900
0
0
0
0
Index(['ICD', 'PAT_ZIP', 'population', 'normalized'], dtype='object')
V3001
26861
1394
1317
1317
Index(['PAT_ZIP', 'ICD', 'population', 'normalized'], dtype='object')

Empty DataFrame
Columns: []
Index: []

In [44]:
df = pd.read_csv([hospital_data+i for i in os.listdir(hospital_data) if 'base1_1q2005_tab.csv' in i][0])

C:\Users\Ash\AppData\Local\Temp\ipykernel_35956\4041417104.py:1: DtypeWarning: Columns (3,4,5,6,7,8,9,10,14,15,17,18,24,25,26,28,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,94,97,168,169,170,171,172,173,174,177,178,179,180,185,186,187,188,189,190,191,192,193,194,195,197,199,201,203,209,210,211,213,214,221,223,225,227,229,231,233,235) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv([hospital_data+i for i in os.listdir(hospital_data) if 'base1_1q2005_tab.csv' in i][0])

In [54]:
df['PAT_ZIP'] = df['PAT_ZIP'].astype('str').replace(r'\.0$','',regex=True)
# hospital_df = hospital_df[~hospital_df['PAT_ZIP'].str.endswith('.0')]
df = df[df['PAT_ZIP'].map(len) == 5]
df['PAT_ZIP'] = df['PAT_ZIP'].astype('int')
v3000_df = df[df['PRINC_DIAG_CODE'].astype(str) == 'V3000'].groupby('PAT_ZIP').size().sort_values().reset_index()
v3000_df

      PAT_ZIP    0
0       70661    1
1       77660    1
2       77663    1
3       77704    1
4       78469    1
...       ...  ...
1533    75217  292
1534    78572  311
1535    77036  314
1536    78521  328
1537    75211  348

[1538 rows x 2 columns]

In [55]:
v3000_df.merge(zip_population.iloc[:,:2], on='PAT_ZIP')

      PAT_ZIP    0    2000
0       77660    1    1441
1       77663    1    1097
2       77853    1    1029
3       77872    1    1694
4       79039    1     840
...       ...  ...     ...
1416    75217  292   72437
1417    78572  311  113935
1418    77036  314   76146
1419    78521  328   84738
1420    75211  348   68730

[1421 rows x 3 columns]

In [28]:
loopICDperQuarter(icd9_subset[1:], icd10=False)

2q2005

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (3,4,5,6,7,8,9,10,14,15,17,18,24,25,26,28,66,67,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,94,95,97,98,100,103,106,109,112,168,169,170,171,172,173,177,178,179,180,185,186,187,188,189,190,191,192,193,194,195,197,199,201,203,209,210,211,212,213,214,221,223,225,227,229,231,233) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

3q2005

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (3,4,5,6,7,8,9,10,14,15,17,18,24,25,26,28,67,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,94,95,97,98,100,103,106,109,110,112,115,118,168,169,170,171,172,177,178,179,180,185,186,187,188,189,190,191,192,193,194,195,197,199,201,203,209,210,211,212,213,214,221,223,225,227,229,231,233) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

4q2005

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (3,4,5,6,7,8,9,10,14,15,17,18,24,25,26,28,66,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,94,95,97,98,100,101,103,104,106,109,112,115,118,167,168,169,170,171,172,177,178,179,180,185,186,187,188,189,190,191,192,193,195,197,199,201,203,209,210,211,212,213,214,221,223,225,227,229,231,233,235) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

1q2006

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (3,4,5,6,7,8,9,10,14,15,17,18,24,25,26,29,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,94,97,98,100,103,106,109,112,115,118,121,124,127,168,169,170,171,172,177,178,179,180,185,186,187,188,189,190,191,192,193,194,195,197,199,201,209,210,211,212,213,214,221,223,225,227,229,231,233) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

2q2006

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (3,4,5,6,7,8,9,10,14,15,17,18,24,25,26,28,66,67,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,94,97,100,103,106,109,112,115,118,121,124,168,169,170,171,172,173,177,178,179,180,185,186,187,188,189,190,191,192,193,194,195,197,199,201,209,210,211,212,213,214,221,223,225,227,229,231,233) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

3q2006

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (3,4,5,6,7,8,9,10,14,15,17,18,24,25,26,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,94,97,100,103,106,109,112,115,118,168,169,170,171,172,173,174,175,176,177,178,179,180,185,186,187,188,189,190,191,192,193,194,195,197,199,201,203,205,209,210,211,212,221,223,225,227,229,231,233) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

4q2006

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (3,4,5,6,7,8,9,10,14,15,17,18,24,25,26,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,94,97,168,169,170,171,172,173,174,177,178,179,180,185,186,187,188,189,190,191,192,193,194,195,196,197,199,201,203,205,209,210,211,221,223,225,227,229,231,233,235,237) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

1q2007

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (3,4,5,6,7,8,9,10,14,15,17,18,24,25,26,28,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,94,97,100,103,168,169,170,171,172,177,178,179,180,181,185,186,187,188,189,190,191,192,193,194,195,196,197,199,201,203,205,207,209,210,211,212,221,223,225,227,229,231,233,235) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

2q2007

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (3,4,5,6,7,8,9,10,14,15,17,18,24,25,26,66,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,94,97,100,103,106,109,112,115,118,121,124,127,130,133,168,169,170,171,172,173,177,178,179,180,181,185,186,187,188,189,190,191,192,193,194,195,197,199,201,203,205,207,209,210,211,212,221,223,225,227,229,231,233) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

3q2007

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (3,4,5,6,7,8,9,10,14,15,17,18,25,26,28,29,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,94,97,100,103,106,109,112,115,118,121,168,169,170,171,172,173,177,178,179,180,181,185,186,187,188,189,190,191,192,193,194,195,197,199,201,203,205,209,210,211,212,221,223,225,227,229,231) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

4q2007

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (3,4,5,6,7,8,9,10,14,15,17,18,24,25,26,29,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,94,97,100,103,106,109,168,169,170,171,172,173,174,175,177,178,179,180,181,185,186,187,188,189,190,191,192,193,194,195,197,199,201,203,205,207,209,210,211,212,221,223,225,227,229,231) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

1q2008

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (3,4,5,6,7,8,9,10,14,15,17,18,24,25,26,28,66,67,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,94,97,100,103,106,107,109,168,169,170,171,172,173,177,178,179,180,181,185,186,187,188,189,190,191,192,193,194,195,196,197,199,201,203,205,209,210,211,212,221,223,225,227,229,231) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

2q2008

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (3,4,5,6,7,8,9,10,14,15,17,18,24,25,26,67,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,94,97,100,103,106,109,112,115,118,121,124,127,130,133,136,139,142,145,168,169,170,171,172,173,177,178,179,180,181,185,186,187,188,189,190,191,192,193,194,195,197,199,201,203,205,209,210,211,212,221,223,225,227,229,231) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

3q2008

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (3,4,5,6,7,8,9,10,14,15,17,18,24,25,26,28,66,67,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,94,95,97,100,103,106,109,112,115,118,121,167,168,169,170,171,172,177,178,179,180,181,185,186,187,188,189,190,191,192,193,194,195,197,199,201,203,205,209,210,211,212,221,223,225,227,229,231) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

4q2008

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (3,4,5,6,7,8,9,10,14,15,17,18,24,25,26,29,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,94,97,100,103,106,109,112,115,118,121,124,168,169,170,171,172,173,174,175,177,178,179,180,181,185,186,187,188,189,190,191,192,193,194,195,197,199,201,203,205,207,209,210,211,212,221,223,225,227,229,231) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

1q2009

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (3,4,5,6,7,8,9,10,14,15,17,18,24,25,26,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,94,97,100,103,106,109,112,168,169,170,171,172,173,174,177,178,179,180,181,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,221,223,225,227,229,231,233) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

2q2009

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (3,4,5,6,7,8,9,10,14,15,17,18,24,25,26,66,67,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,94,95,97,100,103,106,109,112,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,185,186,187,188,189,190,191,192,193,194,195,197,199,201,203,205,209,210,211,212,221,223,225,227,229,231) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

3q2009

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (3,4,5,6,7,8,9,10,14,15,17,18,24,25,26,66,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,94,95,97,98,100,101,103,104,106,109,112,115,116,118,119,121,124,127,130,133,136,139,142,145,148,151,154,157,160,163,166,168,169,170,171,172,173,174,177,178,179,180,181,182,185,186,187,188,189,190,191,192,193,194,195,196,197,199,200,201,203,205,209,210,211,212,221,223,225,227,229,231,233) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

4q2009

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (3,4,5,6,7,8,9,10,14,15,17,18,24,25,26,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,94,95,97,98,100,103,104,106,107,109,110,112,113,115,116,118,121,122,124,125,127,128,130,131,133,134,136,139,140,142,145,146,148,151,152,154,155,157,158,160,161,163,164,166,168,169,170,171,172,173,174,175,177,178,179,180,181,185,186,187,188,189,190,191,192,193,194,195,196,197,199,201,203,207,209,210,211,212,221,223,225,227,229,231,233,235,237) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

1q2010

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (3,4,5,6,7,8,9,10,14,15,17,18,24,25,26,67,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,94,97,100,101,103,106,107,109,110,112,113,115,116,118,119,121,122,124,127,128,130,131,133,134,136,137,139,140,142,143,145,146,148,149,151,154,155,157,160,161,163,164,166,168,169,170,171,172,173,174,177,178,179,180,181,185,186,187,188,189,190,191,192,193,194,195,196,197,199,201,203,205,207,209,210,211,212,213,214,221,223,225,227,229,231,233,235) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

2q2010

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (3,4,5,6,7,8,9,10,14,15,17,18,23,24,25,66,67,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,94,95,97,98,100,101,103,104,106,107,109,110,112,113,115,116,118,119,121,122,124,125,127,128,130,131,133,134,136,137,139,140,142,143,145,146,148,149,151,152,154,155,157,158,160,161,163,164,166,168,169,170,171,172,173,174,177,178,179,180,181,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,209,210,211,212,213,214,221,223,225,227,229,231,233,237) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

3q2010

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (3,4,5,6,7,8,9,10,14,15,17,18,23,24,25,26,67,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,94,95,97,98,100,101,103,104,106,107,109,110,112,113,115,116,118,119,121,122,124,125,127,128,130,131,133,134,136,137,139,140,142,143,145,146,148,149,151,152,154,155,157,158,160,161,163,164,166,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,185,186,187,188,189,190,191,192,193,194,195,196,197,199,201,203,205,207,209,210,211,212,213,214,221,223,225,227,229,231,233) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

4q2010

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (3,4,5,6,7,8,9,10,15,17,18,23,24,25,26,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,94,97,98,100,101,103,104,106,107,109,110,112,113,115,116,118,119,121,122,124,125,127,128,130,131,133,134,136,137,139,140,142,143,145,146,148,149,151,152,154,155,157,158,160,161,163,164,166,168,169,170,171,172,173,174,175,177,178,179,180,181,182,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,201,203,205,209,210,211,212,213,214,221,223,225,227,229,231) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

1q2011

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (4,5,7,8,9,12,13,16,18,19,22,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,86,88,90,92,94,96,98,100,106,109,110,112,113,115,116,118,119,121,122,124,125,127,128,130,131,133,134,136,137,139,140,142,143,145,146,148,149,151,152,154,155,157,158,160,161,163,164,166,167,169,170,172,173,175,176,178) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

2q2011

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (5,7,8,12,13,16,18,19,22,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,86,88,90,92,94,96,98,100,104,106,107,109,110,112,113,115,116,118,119,121,122,124,125,127,128,130,131,133,134,136,137,139,140,142,143,145,146,148,149,151,152,154,155,157,158,160,161,163,164,166,167,169,170,172,173,175,176,178) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

3q2011

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (5,7,8,9,12,13,16,18,19,34,37,39,41,43,45,47,49,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,86,88,90,92,94,96,98,100,102,106,109,112,113,115,118,119,121,122,124,125,127,130,131,133,134,136,137,139,140,142,145,146,148,149,151,154,157,158,160,161,163,166,167,169,172,173,175,176,178) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

4q2011

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (4,5,7,8,12,13,16,18,19,22,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,86,88,90,92,94,96,98,106,109,110,112,115,116,118,119,121,122,124,127,130,133,136,139,142,145,148,151,152,154,157,158,160,161,163,166,167,169,170,172,173,175,178) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

1q2012

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (5,7,8,12,13,16,18,19,33,34,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,85,86,87,88,89,90,91,92,93,94,95,96,97,98,100,102,106,109,118) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

2q2012

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (4,5,7,8,12,13,16,18,19,22,39,40,42,44,46,49,50,52,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,102,103,104,106,107,109,112,115) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

3q2012

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (5,7,8,12,13,16,18,19,24,35,37,39,41,43,45,47,49,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,106,107,109,110,112,113,115,145,164,166) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

4q2012

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (4,5,7,8,12,13,16,18,19,35,37,39,41,43,45,47,49,51,53,55,56,57,59,61,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,102,104,106,107,109,110,112,115,119,121,122,124,125,127,128,130,131,133,145,148,151,164,166) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

1q2013

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (5,7,8,12,16,18,19,35,37,39,41,43,45,47,49,51,53,55,56,57,59,60,61,62,63,65,66,67,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,104,106,107,109,110,112,113,115,116,118,125,127,128,130,131,133,134,136,145,148,151,154) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

2q2013

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (4,5,7,8,12,16,18,19,22,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,106,107,109,110,112,134,136,145) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

3q2013

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (4,5,7,8,12,16,18,19,22,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,106,107,109,110,112,113,115,122,124,131,133,143,145,146,148,151,154,157,160,163,166) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

4q2013

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (4,5,7,8,12,16,18,19,33,34,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,106,107,109,110,112,116,118,131,133,134,136,137,139,140,142,143,145,146,148,151,154) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

1q2014

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (4,5,7,8,9,12,16,18,19,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,104,106,107,109,110,112,113,115,116,118,128,130,131,133,134,136,137,139,140,142,143,145,146,148,149,151,154,157,158,160,161,163,166,169,172,175,178) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

2q2014

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (5,7,8,12,16,18,19,22,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,104,106,109,112) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

3q2014

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (4,5,7,8,12,16,18,19,22,34,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,109) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

4q2014

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (4,5,7,8,9,12,16,18,19,22,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

1q2015

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (4,5,7,8,12,16,18,19,22,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

2q2015

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (4,5,7,8,12,16,18,19,22,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,102,106) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

3q2015

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (5,7,8,9,12,16,18,19,22,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,76,77,79,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,104,105,106,108,111,114,116,117,120,123,126) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

Empty DataFrame
Columns: []
Index: []

In [ ]:
def pd_groupDF(hospital_df, icd_code):
    '''
    this function will take in a dataframe, find out which patients have the given icd code, then count by zip code and finally return this groupby dataframe
    '''
    hospital_df['PAT_ZIP'] = hospital_df['PAT_ZIP'].astype('str')
    hospital_df = hospital_df[~hospital_df['PAT_ZIP'].str.endswith('.0')]
    hospital_df = hospital_df[hospital_df['PAT_ZIP'].map(len) == 5]
    hospital_df['PAT_ZIP'] = hospital_df['PAT_ZIP'].astype('int')
    hospital_df = hospital_df[hospital_df['SEX_CODE'] == 'M']
    return_df = hospital_df[hospital_df['PRINC_DIAG_CODE'].astype(str) == icd_code].groupby('PAT_ZIP').size().sort_values(ascending=False).reset_index()
    return_df.columns = ['PAT_ZIP','ICD']
    # return_df.replace('`',np.NaN, inplace=True)
    # return_df['zip_codes'] = return_df['zip_codes'].fillna(0).astype('int')

    return return_df

In [ ]:
pd_groupDF(df, 'A4189')

     PAT_ZIP  ICD
0      79601   12
1      79603    8
2      77469    5
3      88888    4
4      78660    4
..       ...  ...
249    77020    1
250    77021    1
251    77022    1
252    77031    1
253    77461    1

[254 rows x 2 columns]

In [29]:
loopICDperQuarter(icd10_subset, icd10=True)

4q2015

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (3,4,5,6,7,8,11,15,17,18,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,103,105,107,109,111,113,115,117,119,124,125,126,128,130,132,134,136,138,140,142,144,146,148,150) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

1q2016

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (4,6,7,11,15,17,18,21,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,100,101,103,105,107,109,111,113,119,122,124,125,126,128,130,132,134,136,138,140,142,144,146,147,148,150) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

2q2016

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (4,6,7,11,15,17,18,21,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,103,105,107,109,111,113,115,117,119,121,123,125,126,128,130,132,134,136,138,140,142,143,144,145,146,147,148,149,150,151) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

3q2016

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (4,6,7,11,15,17,18,21,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,103,105,106,107,108,109,110,111,112,113,114,115,116,117,118,120,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

4q2016

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (4,6,7,8,11,18,21,23,33,35,37,39,41,43,45,47,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,103,104,105,106,107,108,109,110,111,112,114,115,116,118,120,122,124,125,126,128,130,132,134,136,138,140,142,144,146,147,148,150) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

1q2017

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (4,6,7,11,17,18,21,73,75,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,103,105,107,109,111,113,115,117,119,122,124,125,126,128,130,132,134,136,138,140,142,144,146,147,148,150) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

2q2017

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (4,6,7,11,15,17,18,21,23,35,37,39,41,43,45,47,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,103,104,105,106,107,108,109,110,111,112,114,116,118,119,120,122,124,125,126,128,130,132,134,136,138,140,142,144,146,148,150) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

3q2017

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (3,4,6,7,11,15,17,18,21,80,81,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,103,105,107,109,111,124,125,126,128,129,130,132,134,136,138,140,142,144,146,148,150) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

4q2017

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (4,6,7,11,15,17,18,21,70,71,72,73,74,75,76,77,78,79,80,81,86,87,88,89,90,91,92,93,94,95,96,97,98,103,105,107,109,125,126,128,130,132,134,136,138,140,142,144,146,148,150) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

1q2018

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (4,6,7,11,15,17,18,21,73,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,103,115,117,120,122,123,124,125,126,128,130,132,134,136,138,140,142,144,146,148,150) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

2q2018

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (4,6,7,11,15,17,18,21,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,103,105,107,109,111,113,120,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

3q2018

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (4,6,7,11,15,18,21,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,105,107,109,126,128,130,132,134,136,138,140,142,144,146,148,150) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

4q2018

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (4,6,7,11,15,17,18,21,80,81,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,103,105,113,115,128,130,132,134,136,138,140,142,144,146,148,150) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

1q2019

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (4,6,7,11,15,17,18,21,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,103,105,107,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,128,130,132,134,136,138,140,142,144,146,148,150) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

2q2019

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (4,6,7,11,15,17,18,21,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,103,105,107,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

3q2019

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (4,6,7,11,15,17,18,21,68,69,70,71,72,73,74,75,76,77,78,79,80,81,87,88,89,90,91,92,93,94,95,96,97,98,100,103,105,109,113,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

4q2019

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (4,6,7,11,15,18,21,68,69,70,71,72,73,74,75,76,77,78,79,80,81,86,87,88,89,90,91,92,93,94,95,96,97,98,103,105,109,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

1q2020

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (3,4,6,7,11,15,17,18,21,68,69,70,71,72,73,74,75,76,77,78,79,80,81,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,103,105,107,118,120,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

2q2020

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (4,6,7,11,18,21,23,68,69,70,71,72,73,74,75,76,77,78,79,80,81,86,87,88,89,90,91,92,93,94,95,96,97,98,103,105,107,109,111,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

3q2020

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (4,6,7,11,15,17,18,21,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,86,87,88,89,90,91,92,93,94,95,96,98,103,105,106,107,108,110,112,114,116,118,120,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

4q2020

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (3,4,6,7,11,17,18,21,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,103,105,106,108,110,112,114,116,118,120,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

1q2021

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (4,6,7,11,15,21,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,87,88,89,90,91,92,93,94,95,96,97,103,105,106,107,108,110,112,114,116,118,120,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

2q2021

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (4,6,7,8,11,17,18,21,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,84,85,86,87,88,89,90,91,92,93,94,95,96,97,103,106,108,110,112,114,116,118,120,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

3q2021

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (4,6,7,11,17,21,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,103,106,108,110,112,113,114,116,118,120,122,124,126,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

4q2021

/tmp/ipykernel_3799923/4138451628.py:27: DtypeWarning: Columns (4,6,7,11,17,18,21,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,103,106,108,110,112,113,114,116,118,120,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150) have mixed types. Specify dtype option on import or set low_memory=False.
  hospital_df = pd.read_csv(f"{hospital_data}PUDF_base1_{quarter}_tab.csv")

Empty DataFrame
Columns: []
Index: []